In [1]:
import os
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
digits_dir = "/content/drive/My Drive/Notebooks/"

In [3]:
#Read Data
df = pd.read_csv(os.path.join(digits_dir, "country_vaccination_stats.csv"))

In [4]:
df.head(5)

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [5]:
df["daily_vaccinations"] = df.groupby("country")["daily_vaccinations"].transform(lambda x: x.fillna(x.min()))

In [6]:
df.isna().sum()

country               0
date                  0
daily_vaccinations    1
vaccines              0
dtype: int64

In [7]:
df[df["daily_vaccinations"].isna()]

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 NaN  Pfizer/BioNTech

In [8]:
df[df["country"] == "Kuwait"] = 0

In [16]:
df.loc[(df["date"] == "1/6/2021"),"daily_vaccinations"].sum()

1485255.0