**I can use regex to solve this question because that's one of the most practical method to find specific string pattern like url in character list. To apply that, I would get relevant data from database as dataframe to use in Python. Let's "df" be our dataframe and use re.findall() function with apply method to use regex.**

In [1]:
import pandas as pd 
import re

In [2]:
links = ["<url>https://pyt_hon.org</url>", "<url>http://pyt89.hon.org", "<url>http://pyt._Ton.org"]
df = pd.DataFrame(links ,columns=['link'])

In [3]:
regex = r"(http|ftp|https):\/\/([\w\-_]+(?:(?:\.[\w\-_]+)+))([\w\-\.,@?^=%&:/~\+#]*[\w\-\@?^=%&/~\+#])?"
df["link"] = df["link"].apply(lambda x: re.findall(regex,x)[0][1])

In [4]:
df

            link
0    pyt_hon.org
1  pyt89.hon.org
2   pyt._Ton.org